.menu, .menu2{
  background-color:#62420f;
  color:#fff;
  padding:0px;
  margin:0px;
  text-align:right;
  list-style:none;
}

.menu li{
  display:inline;
}

.menu li a {
  display:inline-block;
  padding:1em;
  text-decoration:none;
  color:#fff;
  background-color:rgba(178, 102, 20, 0.86);
}

.menu2{
  clear:both;

}
.menu2>li{
  display:inline;
  position:relative;
  margin:0px;
  padding:0px;
}

.menu2>li:hover .submenu{
  visibility:visible;
  display:block;
  height:initial;
  opacity:1;
  -webkit-transition:opacity 1s;
  transition:opacity 1s;
}

.menu2>li>a {
  position:relative;
  display:inline-block;
  padding:1em;
  text-decoration:none;
  color:#fff;
  background-color:rgba(178, 102, 20, 0.86);
}


.submenu{
  display:none;
  position:absolute;
  list-style:none;
  width:150px;
  height:0px;
  left:0px;
  top:2.1em;
  background-color:#2a3fb5;
  margin:0px;
  opacity:0;
  padding:0px;
  -webkit-transition:opacity 1s;
  transition:opacity 1s;
}
.submenu>li{
  margin:0px;
  padding:0px;
}
.submenu>li>a{
  display:block;
  padding:1em;
  text-align:center;
  text-decoration:none;
  color:#fff;
}
.submenu>li>a:hover {
  background-color:#0e79af;
}
