body{
  background-color:#1558a5;
  margin:0px;
  padding:0px;
}
h1{
  padding:1em;
}
.escenario{
  position:relative;
  width:80%;
  max-width:920px;
  margin: 1em auto;
  padding:0px;
}
.cielo{
  width:100%;
  height:20em;
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #1576A6),color-stop(0.7, #82551F));
  background-image: -o-linear-gradient(bottom, #1576A6 0%, #82551F 70%);
  background-image: -moz-linear-gradient(bottom, #1576A6 0%, #82551F 70%);
  background-image: -webkit-linear-gradient(bottom, #1576A6 0%, #82551F 70%);
  background-image: -ms-linear-gradient(bottom, #1576A6 0%, #82551F 70%);
  background-image: linear-gradient(to bottom, #1576A6 0%, #82551F 70%);
}
.cuadro{
  position:absolute;
  top:10px;
  left:200px;

  padding:0px;
  margin:0px;
  width:200px;
  height:200px;
  background-color:#42d20e;
}
.circulo1{
  position:absolute;
  top:35px;
  left:225px;
  width:150px;
  height:150px;
  margin:0px;
  padding:0px;
  border-radius:50%;
  background-color:#f11796;
}
.circulo2, .circulo3, .circulo4, .circulo5{
    position:absolute;
    width:99px;
    height:99px;
    margin:0px;
    padding:0px;
    border-radius:50%;
    border: solid 1px black;
    background-color: rgba(255,0,0,0.25);
}

.circulo2{
  right:10px;
  bottom:10px;
}
.circulo3{
  right:60px;
  bottom:10px;
}
.circulo4{
  right:30px;
  bottom:60px;
}

.circulo5{
  right:30px;
  bottom:-20px;
}
