body{
  font-size:16px;
  padding:0;
  margin:0;
}
.menu{
  background-color:#0b054e;
  padding:0;
  margin:0;
  list-style-type:none;
  text-align:center;
}
.menu li{
  display:inline;
}

.menu li a{
  display:inline-block;
  color:#fff;
  padding:1em 1.2em;
  text-decoration: none;
  text-shadow: 1px 1px 2px yellow;
  -webkit-transition: background-color 2s;
  -moz-transition: background-color 2s;
  -o-transition: background-color 2s;
  -ms-transition: background-color 2s;
  transition: background-color 2s;
}

.menu li a:hover{
  background-color:#3049d8;
  -webkit-transition: background-color 5s;
  -moz-transition: background-color 5s;
  -o-transition: background-color 5s;
  -ms-transition: background-color 5s;
  transition: background-color 5s;
}
