.postit{
  background-color:#edf408;
  width:260px;
  min-height:260px;
  padding:20px;
  margin:10px;
  display:inline-block;
  vertical-align:top;
  box-shadow:2px 5px 10px #333;
}

.postit:nth-child(2n){
  background-color:#23add0;
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  transform: rotate(-15deg);
}

.postit:nth-child(3n){
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
}

.postit:nth-child(5n){
  background-color:#e9aa19;
}
