.holder{
  clear:both;
  position:relative;
  width:800px;
  height:320px;
  padding:0px;
  margin:2em auto;
  overflow:hidden;
}
.img{
  position:absolute;
  top:0px;
  left:0px;
  width:798px;
  height:318px;
  border:1px solid black;
  margin:0px;
  padding:0px;
}
.dots{
  position:absolute;
  text-align:center;
  width:800px;
  padding:0px;
  margin:0px;
  bottom:0px;
  left:0px;
  background-color:rgba(26, 74, 86, 0.7);
}
.dots a{
  display:inline-block;
  font-family:monospace;
  font-weight:bolder;
  text-decoration:none;
  color:black;
  padding:0.45em 0.75em;
  margin:0.25em 0;
  border-radius:50%;
}
.dots a:hover{
  background-color:rgba(255,255,255,0.5);
}
